.New-Product {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 1100px;
}

.NewP-img {
  width: 708.7999877929688px;
  height: 886px;
  left: 100px;
  bottom: 100px;
  position: relative;
}

.ovalShadow {
  position: absolute;
  left: 52%;
  top: 70px;
  background: #000000;
  border-radius: 50%;
  filter: blur(0.43px);
  opacity: 0.25;
  height: 12px;
  width: 120px;
  transform: translateX(-50%);
}

.Products img {
  position: absolute;
  bottom: 150px;
}

.Pleft-side {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  gap: 30px;
  width: 398px;
}

.Product-tittle {
  font-family: "Manrope";
  font-weight: 700;
  font-size: 56px;
  line-height: 58px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: white;
}

.btn2 {
  background-color: #000000;
  width: 160px;
  height: 48px;
  border: none;
  color: white;
  cursor: pointer;
}

.speakerProduct {
  width: 349px;
  height: 303px;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  margin: auto;
  margin-right: 100px;
  gap: 20px;
}

.Middle {
  height: 320px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  padding-left: 95px;
  position: relative;
  overflow: hidden;
  flex-direction: column;
  gap: 25px;
}

.btn3:hover {
  background-color: #000000;
  color: white;
}

.btn3 {
  background-color: transparent;
  cursor: pointer;
  width: 160px;
  height: 48px;
  position: relative;
  z-index: 1;
}

.Middle::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-image: url(../../Pictures/SpeakersLarge.png);
  background-position: center;
  transform: scaleX(-1);
  z-index: 1;
}

.btn2:hover {
  background-color: #4c4c4c;
}

.white-bg2 {
  background-color: white;
  position: relative;
  z-index: 2;
  width: 100%;
  height: 70px;
}

.spaces {
  font-family: "Manrope";
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 10px;
  text-transform: uppercase;
  color: #4c4c4c;
}

.Product-Gal-tittle {
  font-family: "Manrope";
  font-weight: 700;
  font-size: 28px;
  line-height: 100%;
  letter-spacing: 2px;
  text-transform: uppercase;
  position: relative;
  z-index: 1;
}

.botTB {
  background-color: #f1f1f1;
  align-items: center;
  display: flex;
  width: 540px;
  height: 320px;
  border-radius: 8px;
  border: transparent;
  justify-content: center;
  flex-direction: column;
  gap: 25px;
}

.botTB button {
  margin-right: 90px;
}

.AG-tittle {
  font-family: "Manrope";
  font-weight: 700;
  font-size: 40px;
  line-height: 44px;
  letter-spacing: 1.43px;
  text-transform: uppercase;
}

.AG-tittle span {
  font-family: "Manrope";
  font-weight: 700;
  font-size: 40px;
  line-height: 44px;
  letter-spacing: 1.43px;
  text-transform: uppercase;
  color: #d87d4a;
}

.text {
  font-family: "Manrope";
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  letter-spacing: 0px;
}

.Bottom {
  height: 320px;
  width: 1100px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 70px;
  display: flex;
  justify-content: space-between;
}

.botPic {
  background-image: url(../../Pictures/EarphonesSmall.png);
  background-position: center center;
  background-size: cover;
  border-radius: 8px;
  border: transparent;
  width: 540px;
  height: 320px;
}

.Black-bg-New {
  background-color: #0e0e0e;
  width: 100%;
  height: calc(729px - 97px);
}

.Products div > div {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 40px;
}

.Product-view-btn {
  width: 160px;
  height: 48px;
  background-color: #d87d4a;
  color: #fff;
  align-items: center;
  justify-content: center;
  font-family: "Manrope";
  font-weight: 700;
  font-size: 13px;
  line-height: 100%;
  letter-spacing: 1px;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
}

.white-bg {
  width: 100%;
  height: 180px;
  top: -280px;
  position: relative;
  z-index: 2;
  background-color: white;
}

.Products > div:hover .goshop {
  color: #d87d4a;
}

.Product-view-btn:hover {
  background-color: #fbaf85;
}

.Products {
  width: 1110px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  display: flex;
  gap: 50px;
  z-index: 3;
  position: relative;
  padding-bottom: 100px;
  margin-top: 100px;
}

.Product-Gallery {
  width: 1100px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.Top {
  background-color: #d87d4a;
  height: 560px;
  border-radius: 8px;
  display: flex;
}

.speaker-Large {
  width: 410.23358154296875px;
  height: 493px;
  position: absolute;
  top: 100px;
  left: 100px;
}

.Products > div {
  width: 350px;
  height: 204px;
  border-radius: 8px;
  cursor: pointer;
  background-color: #f1f1f1;
  margin-top: 100px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding-bottom: 25px;
}

h3 {
  font-family: "Manrope";
  font-weight: 700;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 1.29px;
  text-align: center;
  text-transform: uppercase;
}

.goshop {
  color: #787878;
  border: none;
  text-transform: uppercase;
  padding: 10px 20px;
  cursor: pointer;
}

.goshop svg {
  margin-left: 10px;
}

.img1 {
  width: 122.9473648071289px;
  height: 160px;
  left: 113.68px;
}

.img2 {
  width: 121.48905181884766px;
  height: 146px;
  left: 113.52px;
}

.img3 {
  height: 126px;
  left: 112px;
}

